* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@property --caroY {
	syntax: '<angle>';
	inherits: true;
	initial-value: 0deg;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	place-content: center;
	height: 100vh;
	text-align: center;
	color: white;
	background-color: black;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#homepage {
	position: relative;
	display: flex;
	flex-direction: column;
}
#homepage h1 {
	color: transparent;
	cursor: context-menu;
	text-align: center;
	font-size: 4.3rem;
	line-height: 5rem;
	-webkit-text-stroke: 2px #08fdd8;
	text-shadow: 1px 1px 2px transparent, 0 0 0.2em #08fdd8;
}

#homepage strong {
	color: #e60de6;
	font-size: 2.3rem;
}
.sprekers {
	margin: 8% auto;
	width: 13.1em;
	height: 3.1em;
	position: relative;
	perspective: 62.5em;
}

.sprekers h2 {
	color: #e60de6;
}

.sprekers > section {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
	transform: rotatey(var(--caroY));
	opacity: 1;
	transition: 1;
}

.sprekers >section:hover {
	animation-play-state: paused;
}

.sprekers a {
	position: absolute;
	left: 0.62em;
	top: 0.62em;
	display: block;
	max-width: 18em;
	width: 75%;
	height: 15em;
	padding: 0.5em 0.5em;
	color: #7700ff;
	cursor: pointer;
	animation: color 5s linear infinite;
	box-shadow: 0 0 1.5em 0.25em #fff, 0 0 0.2em 1em #08fdd8,
		inset 0 0 3.1em 0.62em #08fdd8;

	z-index: 1;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	transform: rotateY(var(--cardY, 0deg)) translateZ(30vmin);
}

.sprekers img {
	width: 100%;
	/* height: 0.9em; */
	object-fit: contain;
	border-radius: 50%;
	border: 0.06em solid #08fdd8;
}

.sprekers a:hover {
	color: color(secondary);
	background-color: skyblue;
}

.sprekers a:after {
	content: '';
	right: 0;
	bottom: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../images/yugioh_backside.png');
	background-position: center;
	filter: invert(1) hue-rotate(-67deg);
	box-shadow: inset 0 0 3.1em 0.62em #ffd400;
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

.sprekers a:nth-child(1) {
	--cardY: 0deg;
}
.sprekers a:nth-child(2) {
	--cardY: 32.72deg;
}
.sprekers a:nth-child(3) {
	--cardY: 65.45deg;
}
.sprekers a:nth-child(4) {
	--cardY: 98.18deg;
}
.sprekers a:nth-child(5) {
	--cardY: 130.91deg;
}
.sprekers a:nth-child(6) {
	--cardY: 163.64deg;
}
.sprekers a:nth-child(7) {
	--cardY: 196.36deg;
}
.sprekers a:nth-child(8) {
	--cardY: 229.09deg;
}
.sprekers a:nth-child(9) {
	--cardY: 261.82deg;
}
.sprekers a:nth-child(10) {
	--cardY: 294.55deg;
}
.sprekers a:nth-child(11) {
	--cardY: 327.27deg;
}

.grade {
	display: flex;
	margin-bottom: 1em;
}

@keyframes rotation {
	0% {
		--caroY: 0deg;
	}

	100% {
		--caroY: 360deg;
	}
}

article {
	text-align: left;
	max-width: 1000px;
	margin: 0 auto;
	font-size: 1.5em;
}

article header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2em;
}

article span {
	font-size: 1.2em;
	color: #08fdd8;
}

article p, article h3 {
	margin-bottom: 1em;
}


.articles-list {
	position: absolute;
	display: flex;
    gap: 1em;
    transform: translateX(-60%);
    transition: all 0.3s ease-in-out;
	flex-direction: row-reverse;
	left: 0;
	top: 50%;
}

.articles-list:hover {
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
}

.articles-list h2 {
	color: #08fdd8;
	font-size: 1.5em;
	cursor: pointer;
	
	padding: 0.5em 1em;
	border-radius: 0 0.5em 0.5em 0;
	background-color: #000;
	color: #08fdd8;
	border: 0.01em solid #08fdd8;
	box-shadow: 0 0 1.5em 0.25em #fff, 0 0 0.2em .7em #08fdd8,
		inset 0 0 3.1em 0.62em #08fdd8;
}
.articles-list ul {
	box-shadow: 0 0 1.5em 0.25em #fff, 0 0 0.2em 1em #08fdd8;
	/* background-color: #08fdd8; */
}

.articles-list li {
	cursor: pointer;
    text-align: left;
	padding: 0.5em 1em;
    box-shadow: inset 0 0 3.1em 0.62em #08fdd8;;
	border-bottom: 1px solid #000;
}

.articles-list a {
    color: #000;
    font-weight: 600;
}
.articles-list a:hover {
    color: #e60de6;
}